@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfirmEmailModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Confirm email"];
}

@section CSS {
    <style>
        .logout-success {
            height: 100vh;
            text-align: center;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto
        }


        .d-table {
            width: 100%;
            height: 100%
        }

        .d-table {
            display: table !important
        }

        .d-table-cell {
            vertical-align: middle
        }

        .d-table-cell {
            display: table-cell !important
        }

        .logout-success .success-content h1 {
            font-size: 40px;
            color: #268ECE;
            margin-bottom: 10px;
            font-weight: 700
        }

        .logout-success .success-content h2 {
            font-size: 25px;
            margin-bottom: 10px;
            color: #081828
        }
    </style>
}

<div class="logout-success">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                
                <div class="success-content">
                    <h1>@ViewData["Title"]</h1>
                    @*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
                    <h2>
                        @if (!String.IsNullOrEmpty(Model.StatusMessage))
                        {
                            @Model.StatusMessage
                        }
                    </h2>
                    <div class="button mt-10">
                        <a asp-area="" asp-page="/Index" class="btn">@Localizer["Go To Home"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>