@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ForgotPasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<section class="log-in-us section mb-30">
    <div class="container">
        <div class="col-10 mx-auto mt-50">
            <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="row">
                                <form method="post">
                                    <div class="heading">
                                        <h3>@ViewData["Enter your email"]</h3>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email" class="label"></label>
                                        <input asp-for="Input.Email" class="form-control" id="gixiSeed" onchange="gixiFunc()" placeholder="example@gmail.com" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-8 button">
                                        <button type="submit" class="btn">
                                            @Localizer["Submit"]
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
