@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@section CSS {
    <link rel="stylesheet" href="~/css/account_style.css" />
    @await RenderSectionAsync("CSS", required: false).ConfigureAwait(false)
}

<div class="manage-account section">
    <div class="container">
        <div class="account-inner mt-30">
            <div class="row">
    
                <div class="col-lg-4 col-12">
                    <div class="dashbord-sidebar">
                        <partial name="_ManageNav" />
                    </div>
                </div>
    
                <div class="col-lg-8 col-12">
                    <div class="inner-content">
                        @RenderBody()
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
