@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@section CSS {
    <link rel="stylesheet" href="~/lib/croppie/croppie.css" />
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form id="profile-form" enctype="multipart/form-data" method="post">
    <div class="row flex-column-reverse flex-md-row">

        <div class="col-lg-6 col-12 mb-40">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="text-success"></span></span>
                    </div> }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>}
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </div>

        <div id="cropMain" class="col-lg-6 col-md-6 col-12 mb-50">
            <input type="checkbox" asp-for="Input.GenerateImg" style="display: none;" />
            @*<input id="bgimagebase64" asp-for="Input.UploadCoverPhoto" type="hidden" />*@

            <div id="cropImg" class="col-12" style="display: none;">
                <div class="upload-demo-wrap">
                    <div id="upload-demo"></div>
                </div>
            </div>

            <div id="stateImg" class="col-12">
                <div class="image">
                    <img id="imgProfile" class="resize-img" src="@Model.Input.ProfilePhotoUrl" alt="ProfilePhoto">
                </div>
            </div>

            <div id="uploadBtn" class="col-12 pt-20">
                <div class="button">
                    <a style="margin-bottom: 2%;" class="btn file-btn">
                        <span>Change an image</span>
                        <input type="file" id="upload" accept="image/*" />
                    </a>
                </div>
            </div>

            <div id="actBtn" class="col-12 pt-60" style="display: none;">
                <div class="button act-btn">
                    <a style="margin-bottom: 2%;" class="btn file-btn" onclick="setimg()">
                        <span>Save image</span>
                    </a>
                </div>
                <div id="cancel-btn" class="act-btn">
                    <a class="file-btn">
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/croppie/croppie.min.js"></script>
    <script>
        $(document).ready(function () {
            resizeDiv();
            resizer();
        });
        window.onresize = function () {
            resizeDiv();
            resizer();
        };

        function resizeDiv() {
            var cw = $('#cropMain').width();
            $('.upload-demo-wrap').css({
                'height': cw + 'px',
                'width': cw + 'px'
            });
        }
        var $uploadCrop;

        function readFile(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo').addClass('ready');
                    $uploadCrop.croppie('bind', {
                        url: e.target.result
                    })
                }
                reader.readAsDataURL(input.files[0]);
                $('#uploadBtn').css('margin-top', '50px');
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }
        $uploadCrop = $('#upload-demo').croppie({
            viewport: {
                width: 225,
                height: 225,
                type: 'circle'
            }
        });
        $('#upload').on('change', function () {
            readFile(this);
            $('#stateImg').hide();
            $('#cropImg').show();
            $('#uploadBtn').hide();
            $('#actBtn').show();
        });

        function setimg() {
            $uploadCrop.croppie('result', {
                type: 'base64',
                size: 'viewport'
            }).then(function (resp) {
                UpdateImg(resp);
            });
        };

        function resizer() {
            var cssWidth = $('.image').css("width");
            var cssHeight = parseInt(cssWidth);
            $('.resize-img').css("height", cssHeight);
        }

        function UpdateImg(base64str) {
            $.ajax({
                type: "POST",
                url: "/Identity/Account/Manage/Index?handler=UpdateImg",
                data: { base64str: base64str },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (result) {
                    $('#cropImg').hide();
                    $('#actBtn').hide();
                    $('#uploadBtn').show();
                    $('#stateImg').show();
                    $('#imgProfile').attr('src', result)
                }
            });
        }
    </script>
}
