@page
@model WUCSA.Web.Pages.HistoryModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["History"];
}
@section CSS {
    <link rel="stylesheet" href="~/css/privacy_style.css" />
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["History of World Usmanov's Combat Systems Association"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                    <li><a asp-page="/History">@Localizer["History of WUCSA"]</a></li>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li><a asp-page="/Admin/StaticPages/Create">@Localizer["Add new History Page"]</a></li>
                        <li><a asp-page="/Admin/StaticPages/Edit" asp-route-id="">@Localizer["Edit this History Page"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
