@import url(colors_style.css);

/*/////////////////////////////////
        Hero Area
/////////////////////////////////*/

.hero-area {
    position: relative;
    background: #f6f9fc;
    overflow: hidden;
}

    .hero-area .hero-inner {
        height: 650px;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 3;
    }

    .hero-area .hero-text {
        float: none;
        margin-top: 230px;
        /*padding-right: 50px;*/
    }

        .hero-area .hero-text h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 55px;
            margin-bottom: 25px;
        }

            .hero-area .hero-text h1 span {
                font-weight: 300;
            }

        .hero-area .hero-text p {
            font-size: 15px;
            line-height: 24px;
        }

        .hero-area .hero-text .button {
            margin-top: 35px;
        }

            .hero-area .hero-text .button .btn {
                margin-right: 10px;
            }

                .hero-area .hero-text .button .btn:hover {
                    color: #fff;
                }

                .hero-area .hero-text .button .btn:last-child {
                    margin-right: 0px;
                }


    /* i don`t need hero video class */

    .hero-area .hero-video-head {
        margin-top: 130px;
    }

        .hero-area .hero-video-head .video-inner {
            position: relative;
            height: 100%;
            width: 100%;
        }

            .hero-area .hero-video-head .video-inner::before {
                position: absolute;
                content: "";
                right: -50px;
                bottom: -90px;
                height: 300px;
                width: 300px;
                background-image: url(../images/hero/grouped.png);
                background-repeat: no-repeat;
                z-index: -1;
            }

            .hero-area .hero-video-head .video-inner img {
                width: 80%;
            }

            .hero-area .hero-video-head .video-inner .hero-video {
                height: 100px;
                width: 100px;
                line-height: 100px;
                text-align: center;
                color: #fff;
                background-color: var(--main-blue-color);
                font-size: 20px;
                display: block;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -50px;
                margin-top: -50px;
                z-index: 99;
                padding-left: 5px;
                -webkit-box-shadow: 0px 0px 30px var(--main-blue-c-opacity-b3);
                box-shadow: 0px 0px 30px var(--main-blue-c-opacity-b3);
            }

                .hero-area .hero-video-head .video-inner .hero-video:hover {
                    background-color: #fff;
                    color: var(--main-blue-color);
                }

    .hero-area .video-inner .waves-block .waves {
        position: absolute;
        width: 150px;
        height: 150px;
        background: #fff;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        border-radius: 100%;
        -webkit-animation: waves 5s ease-in-out infinite;
        animation: waves 4s ease-in-out infinite;
        left: 50%;
        margin-left: -75px;
        top: 50%;
        margin-top: -75px;
        z-index: 1;
    }

    .hero-area .video-inner .waves-block .wave-1 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .hero-area .video-inner .waves-block .wave-2 {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }

    .hero-area .video-inner .waves-block .wave-3 {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }


/* Video Animations */

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
}

@keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
}


/*======================================
    Call Action CSS
========================================*/

.call-action {
    background-image: url("../images/breadcrumb/breadcrumbs_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}

    .call-action .section-title {
        padding: 0;
        padding: 0px 50px;
        margin: 0;
    }

        .call-action .section-title span {
            font-weight: 600;
            color: var(--main-blue-color);
            background-color: #fff;
        }

        .call-action .section-title h2 {
            text-transform: none;
            color: #fff;
        }

            .call-action .section-title h2::before {
                background-color: #fff;
            }

        .call-action .section-title p {
            color: #fff;
        }

        .call-action .section-title .button {
            display: block;
            margin-top: 50px;
        }

            .call-action .section-title .button .btn {
                background-color: #fff;
                color: var(--main-blue-color);
            }

                .call-action .section-title .button .btn i {
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 15px;
                }

                .call-action .section-title .button .btn:hover {
                    color: #fff;
                    background-color: var(--dark-blue-color);
                }

    .call-action.overlay::before {
        background-color: var(--main-blue-color);
        opacity: 0.8;
        z-index: -1;
    }


/*/////////////////////////////////
        Staff
/////////////////////////////////*/

.testimonial-img {
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .testimonial-img img {
        flex-shrink: 0;
        min-height: 100%;
        min-width: 100%;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

.testimonials {
    background-color: #081828;
    padding-top: 60px;
    position: relative;
    z-index: 5;
    overflow: hidden
}

    .testimonials .patern1 {
        position: absolute;
        top: 245px;
        right: 8%;
        width: 174px;
        height: 174px;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: .6
    }

    .testimonials .patern2 {
        position: absolute;
        top: -49px;
        left: -75px;
        width: 174px;
        height: 174px;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: .6
    }

    .testimonials .section-title {
        padding: 0
    }

        .testimonials .section-title h2 {
            color: #fff
        }

        .testimonials .section-title p {
            color: #fff
        }

    .testimonials .testimonial-inner-head {
        padding-bottom: 150px
    }

    .testimonials .testimonial-inner {
        position: relative
    }

    .testimonials .testimonial-right {
        text-align: right
    }

    .testimonials .single-testimonial {
        height: 100%;
        width: 100%;
        position: relative;
    }

        .testimonials .single-testimonial .quote i {
            font-size: 30px;
            color: #fff
        }

        .testimonials .single-testimonial p {
            font-size: 15px;
            color: #fff
        }

        .testimonials .single-testimonial a {
            display: block;
        }

            .testimonials .single-testimonial a .name {
                font-size: 17px;
                text-align: center;
                position: relative;
                margin-top: 20px;
                color: #fff
            }

                .testimonials .single-testimonial a .name span {
                    font-size: 15px;
                    display: block;
                    margin-top: 5px;
                    color: rgb(230, 230, 230);
                    font-weight: 400
                }

    .testimonials .tns-controls {
        position: absolute;
        right: 50%;
        bottom: -100px;
        z-index: 9
    }

        .testimonials .tns-controls button {
            width: 45px;
            height: 45px;
            cursor: pointer;
            z-index: 2;
            color: #fff;
            font-size: 20px;
            background: #fff;
            border: 1px solid #f4eefb;
            border-radius: 50%;
            -webkit-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
            background: 0 0;
            margin: 0 5px;
            line-height: 45px
        }

            .testimonials .tns-controls button:hover {
                background-color: #fff;
                border-color: transparent;
                color: var(--main-blue-color)
            }


/*/////////////////////////////////
        Events
/////////////////////////////////*/

.latest-event {
    background-color: #f6f9fc
}

    .latest-event .section-title {
        margin-bottom: 50px !important;
    }

    .latest-event .single-event {
        margin-top: 30px;
        padding: 40px;
        /* padding-left: 250px; */
        border: 1px solid #eee;
        border-radius: 5px;
        position: relative;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        background-color: #fff
    }

        .latest-event .single-event:hover {
            -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
            box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important
        }

        .latest-event .single-event .event-image {
            /* position: absolute; */
            left: 25px;
            /* width: 200px; */
            height: auto;
            line-height: 50px;
            /* margin-top: -15px; */
            overflow: hidden;
        }


            /* .latest-event .single-event .event-image {
    position: relative;
    
} */

            .latest-event .single-event .event-image img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }

        .latest-event .single-event .event-content {
            position: relative
        }

            .latest-event .single-event .event-content h4 {
                padding-right: 200px;
                position: relative;
                padding-bottom: 20px
            }

                .latest-event .single-event .event-content h4 a {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--dark-blue-color);
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                }

                    .latest-event .single-event .event-content h4 a:hover {
                        color: var(--main-blue-color)
                    }

            .latest-event .single-event .event-content p {
                display: inline-block;
                border-top: 1px solid #eee;
                padding-top: 18px
            }

            .latest-event .single-event .event-content ul {
                margin-top: 20px
            }

                .latest-event .single-event .event-content ul li {
                    display: inline-block;
                    font-size: 12px;
                    margin-bottom: 5px;
                    margin-right: 3px;
                    position: relative;
                    background: var(--main-blue-c-opacity-14);
                    color: var(--main-blue-color);
                    padding: 5px 10px;
                    border-radius: 3px
                }

                    .latest-event .single-event .event-content ul li:last-child {
                        margin-bottom: 0;
                        margin-right: 0
                    }

                    .latest-event .single-event .event-content ul li i {
                        font-size: 13px;
                        display: inline-block;
                        margin-right: 3px
                    }

                    .latest-event .single-event .event-content ul li a {
                        color: #777
                    }

                        .latest-event .single-event .event-content ul li a:hover {
                            color: var(--main-blue-color)
                        }

        .latest-event .single-event .event-button {
            position: absolute;
            right: 40px;
            top: 40px
        }

            .latest-event .single-event .event-button ul li {
                display: inline-block
            }

                .latest-event .single-event .event-button ul li a {
                    padding: 10px 20px;
                    background-color: var(--main-blue-color);
                    color: #fff;
                    border-radius: 4px;
                    font-size: 13px;
                }

                    .latest-event .single-event .event-button ul li a:hover {
                        background-color: var(--dark-blue-color);
                    }


/*//////////////////////////////
        Blog
//////////////////////////////*/

.latest-news-area .single-news {
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
    border-radius: 6px
}

    .latest-news-area .single-news .image {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 6px 6px 0 0;
    }

        .latest-news-area .single-news .image img {
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            /*flex-shrink: 0;*/
            min-width: 100%;
            min-height: 100%;
        }

    .latest-news-area .single-news .content-body {
        background-color: #fff;
        padding: 20px 30px 30px;
        border-radius: 0 0 6px 6px
    }

        .latest-news-area .single-news .content-body .meta-details ul {
            display: block;
            margin-top: 20px
        }

            .latest-news-area .single-news .content-body .meta-details ul li {
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 3px;
                font-size: 12px;
                position: relative;
                background: var(--main-blue-c-opacity-14);
                color: var(--main-blue-color);
                padding: 5px 10px;
                border-radius: 3px;
            }

                .latest-news-area .single-news .content-body .meta-details ul li:last-child {
                    margin: 0
                }

                .latest-news-area .single-news .content-body .meta-details ul li i {
                    font-size: 13px;
                    display: inline-block;
                    margin-right: 3px
                }


        .latest-news-area .single-news .content-body .title {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 18px;
            padding-bottom: 15px;
            position: relative;
            font-size: 19px;
            font-weight: 500
        }

            .latest-news-area .single-news .content-body .title::before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: #eee
            }

            .latest-news-area .single-news .content-body .title a {
                color: var(--dark-blue-color);
                display: inline-block
            }

                .latest-news-area .single-news .content-body .title a:hover {
                    color: var(--main-blue-color)
                }

        .latest-news-area .single-news .content-body p {
            font-size: 14px;
            display: block;
            margin-top: 10px
        }

        .latest-news-area .single-news .content-body .button {
            display: block;
            margin-top: 20px
        }

    .latest-news-area .single-news:hover .image .thumb {
        -webkit-transform: scale(1.1) rotate(1deg);
        transform: scale(1.1) rotate(1deg)
    }

.blog-list {
    background: #f6f9fc
}

    .blog-list .single-news {
        margin: 0
    }

    .blog-list .single-news {
        margin-bottom: 40px
    }

.single-news .button .btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: var(--main-blue-color);
    color: #fff;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 4px;
}

    .single-news .button .btn:hover {
        background-color: var(--dark-blue-color);
        color: #fff;
        -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
        box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    }


/*/////////////////////////////////////
            Gallery
/////////////////////////////////////*/

.our-gallery {
    background-color: #f6f9fc;
}

    .our-gallery .content-left {
        position: relative;
        /* padding-right: 60px */
    }

        .our-gallery .content-left .single-img {
            width: 100%;
            border-radius: 5px
        }

            .our-gallery .content-left .single-img.minus-margin {
                position: relative;
                top: -20px
            }

        .our-gallery .content-left::before {
            position: absolute;
            content: "";
            right: 4px;
            bottom: -36px;
            height: 200px;
            width: 200px;
            background-image: url(../images/hero/patern2.png);
            background-repeat: no-repeat;
            z-index: -1
        }

        .our-gallery .content-left .media-body {
            padding: 40px 30px;
            padding-bottom: 40px;
            border-radius: 5px;
            background-color: var(--main-blue-color);
            -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
            box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
            display: inline-block;
            width: 100%;
            margin-top: 30px;
            padding-bottom: 48px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

            .our-gallery .content-left .media-body i {
                font-size: 40px;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                display: block;
                color: #fff;
                background-color: #ffffff45;
                border-radius: 5px;
                display: block;
                margin-bottom: 20px
            }

            .our-gallery .content-left .media-body h6 {
                font-size: 22px;
                font-weight: 600;
                display: block;
                margin-bottom: 5px;
                color: #fff
            }

            .our-gallery .content-left .media-body p {
                color: #fff
            }


    /* .our-gallery .content-right {
    padding-right: 70px;
    padding-left: 30px
} */

    .our-gallery .content-right .single-img {
        width: 100%;
        border-radius: 5px
    }

        .our-gallery .content-right .single-img.minus-margin {
            position: relative;
            top: -20px
        }

.-mt-80 {
    margin-top: -100px;
}

.-mt-50 {
    position: relative;
    margin-top: -70px;
}

.wd-80 {
    width: 80% !important;
}

.our-gallery .content-right .media-body {
    padding: 40px 30px;
    border-radius: 5px;
    background-color: var(--main-blue-color);
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, .15) !important;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    .our-gallery .content-right .media-body:hover {
        background-color: var(--dark-blue-color);
    }

    .our-gallery .content-right .media-body i {
        font-size: 27px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        display: block;
        color: #fff;
        background-color: #ffffff45;
        border-radius: 5px;
        display: block;
        margin-bottom: 20px
    }

    .our-gallery .content-right .media-body h6 {
        font-size: 22px;
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
        color: #fff
    }

    .our-gallery .content-right .media-body p {
        color: #fff
    }

.our-gallery .content-right h2 {
    font-size: 38px;
    line-height: 45px;
    position: relative;
    font-weight: 700
}

.our-gallery .content-right h3 {
    font-size: 23px;
    margin-bottom: 50px;
    line-height: 45px;
    position: relative;
    font-weight: 700
}


/*/////////////////////////////
        Partners
/////////////////////////////*/

.client-logo-section {
    background: #F9FAFF;
    padding: 50px 0;
}

    .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo {
        padding: 10px;
        text-align: center;
        margin: auto;
    }

        .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img {
            max-width: 220px;
            width: 100%;
            opacity: .3;
            -webkit-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
        }

            .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img:hover {
                opacity: 1;
            }


/*/////////////////////////////
        Responsive CSS Tablet
/////////////////////////////*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-inner {
        height: 480px;
    }

        .hero-area .hero-inner::before {
            display: none;
        }

    .hero-area .hero-text {
        float: none;
        margin-top: 160px;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }

        .hero-area .hero-text h1 {
            font-size: 30px;
            line-height: 38px;
        }

        .hero-area .hero-text .button {
            margin-top: 25px;
        }
    /**/
    .testimonials .patern1 {
        display: none;
    }

    .testimonials .tns-controls {
        position: absolute;
        bottom: -100px;
        z-index: 9;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    /**/
    .latest-event .section-title {
        margin-bottom: 10px !important;
    }

    .latest-event .single-event .event-image {
        height: 300px;
    }

    .latest-event .single-event .event-button {
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        margin-top: 20px;
    }

    .latest-event .single-event .event-content h4 {
        padding: 15px 0 !important;
        /* padding-bottom: 15px !important; */
    }
    /**/
    .latest-news-area .section-title {
        margin-bottom: 20px;
    }

    .latest-news-area .single-news {
        margin-top: 30px;
    }
    /**/
    .our-gallery .content-left {
        position: relative;
        text-align: center;
    }

        .our-gallery .content-left .md-left {
            margin-left: 0 !important;
        }

        .our-gallery .content-left .media-body {
            text-align: left;
        }

    .our-gallery .content-right {
        padding: 0;
    }

        .our-gallery .content-right h2 {
            font-size: 27px;
            line-height: 38px;
        }

        .our-gallery .content-right h3 {
            font-size: 20px;
            line-height: 30px;
        }
}


/*/////////////////////////////
        Responsive CSS Mobile
/////////////////////////////*/

@media only screen and (max-width: 767px) {
    .hero-area .hero-inner {
        height: auto;
        overflow: visible;
        padding-bottom: 50px;
    }

    .hero-area .hero-text {
        float: none;
        margin-top: 100px;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }

        .hero-area .hero-text h1 {
            font-size: 23px;
            line-height: 30px;
        }

        .hero-area .hero-text .button {
            margin-top: 20px;
        }

            .hero-area .hero-text .button .btn {
                margin: 0 !important;
                width: 60%;
                margin-bottom: 10px !important;
            }

                .hero-area .hero-text .button .btn:last-child {
                    margin: 0 !important;
                }

    .hero-area .hero-video-head {
        display: none;
    }
    /**/
    .call-action .section-title {
        padding: 0 !important;
    }
    /**/
    .testimonials .patern1 {
        display: none;
    }

    .testimonials .testimonial-right {
        display: none;
    }

    .testimonials .tns-controls {
        position: absolute;
        bottom: -100px;
        z-index: 9;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    .testimonials button {
        width: 40px !important;
        height: 40px !important;
        font-size: 13px !important;
        line-height: 40px !important;
    }
    /**/
    .latest-event .section-title {
        margin-bottom: 10px !important;
    }

    .latest-event .single-event {
        padding: 0 !important;
        padding: 40px !important;
    }

        .latest-event .single-event .event-image {
            margin: 0;
            width: 100%;
            height: 300px;
            position: relative !important;
            margin-bottom: 20px;
            left: 0 !important;
        }

        .latest-event .single-event .event-content h4 {
            padding: 15px 0 !important;
            /* padding-bottom: 15px !important; */
        }

        .latest-event .single-event .event-button {
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
            margin-top: 20px;
        }
    /**/
    .latest-news-area .section-title {
        margin-bottom: 10px
    }

    .latest-news-area .single-news {
        margin-top: 30px
    }

        .latest-news-area .single-news .content-body .title {
            line-height: 24px !important
        }

            .latest-news-area .single-news .content-body .title a {
                font-size: 17px !important
            }
    /**/
    .our-gallery .content-left {
        padding: 0;
    }

        .our-gallery .content-left::before {
            display: none;
        }

        .our-gallery .content-left .single-img {
            border-radius: 5px;
        }

            .our-gallery .content-left .single-img.mt-50 {
                margin-top: 30px !important;
            }

            .our-gallery .content-left .single-img.minus-margin {
                position: relative;
                top: 0px;
            }

        .our-gallery .content-left .media-body {
            padding-top: 25px;
            padding-bottom: 25px;
        }

            .our-gallery .content-left .media-body h6 {
                font-size: 20px;
            }

    .our-gallery .content-right {
        margin-top: 20px;
        padding: 0;
    }

        .our-gallery .content-right h2 {
            font-size: 27px;
            line-height: 38px;
        }

        .our-gallery .content-right h3 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        .our-gallery .content-right .media-body {
            padding: 10px;
        }

            .our-gallery .content-right .media-body i {
                font-size: 18px;
                height: 30px;
                width: 30px;
                line-height: 30px;
                margin-bottom: 10px;
            }
        /**/
    .client-logo-section {
        padding: 0 !important;
    }

        .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img {
            max-width: 170px;
        }
}



/*======================================
   Clients CSS
========================================*/
.client-logo-section {
    background: #F9FAFF;
    padding: 50px 0;
}

    .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo {
        padding: 10px;
        text-align: center;
        margin: auto;
    }

        .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img {
            max-width: 220px;
            width: 100%;
            opacity: .3;
            -webkit-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
        }

            .client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img:hover {
                opacity: 1;
            }

