@import url(colors_style.css);

.latest-rank-area .single-rank {
    -webkit-box-shadow: 0 1rem 3rem rgba(35,38,45,.15) !important;
    box-shadow: 0 1rem 3rem rgba(35,38,45,.15) !important;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
    border-radius: 6px
}

    .latest-rank-area .single-rank .image {
        position: relative;
        overflow: hidden;
        border-radius: 6px 6px 0 0
    }

        .latest-rank-area .single-rank .image img {
            height: 100%;
            width: 100%;
            -webkit-transition: all .4s ease;
            transition: all .4s ease
        }

    .latest-rank-area .single-rank .content-body {
        background-color: #fff;
        padding: 20px 30px 30px;
        border-radius: 0 0 6px 6px
    }

        .latest-rank-area .single-rank .content-body .meta-details ul {
            display: block;
            margin-top: 20px
        }

            .latest-rank-area .single-rank .content-body .meta-details ul li {
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 3px
            }

                .latest-rank-area .single-rank .content-body .meta-details ul li:last-child {
                    margin: 0
                }

                .latest-rank-area .single-rank .content-body .meta-details ul li i {
                    font-size: 13px;
                    display: inline-block;
                    margin-right: 3px
                }

                .latest-rank-area .single-rank .content-body .meta-details ul li a {
                    display: inline-block;
                    font-size: 12px;
                    position: relative;
                    background: var(--main-blue-color)14;
                    color: var(--main-blue-color);
                    padding: 5px 10px;
                    border-radius: 3px;
                    text-transform: capitalize
                }

                    .latest-rank-area .single-rank .content-body .meta-details ul li a:hover {
                        background-color: var(--main-blue-color);
                        color: #fff
                    }

        .latest-rank-area .single-rank .content-body .title {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 18px;
            padding-bottom: 15px;
            position: relative;
            font-size: 19px;
            font-weight: 500
        }

            .latest-rank-area .single-rank .content-body .title::before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: #eee
            }

            .latest-rank-area .single-rank .content-body .title a {
                color: var(--dark-blue-color);
                display: inline-block
            }

                .latest-rank-area .single-rank .content-body .title a:hover {
                    color: var(--main-blue-color)
                }

        .latest-rank-area .single-rank .content-body p {
            font-size: 14px;
            display: block;
            margin-top: 10px
        }

        .latest-rank-area .single-rank .content-body .button {
            display: block;
            margin-top: 20px
        }

    .latest-rank-area .single-rank:hover .image .thumb {
        -webkit-transform: scale(1.1) rotate(1deg);
        transform: scale(1.1) rotate(1deg)
    }


.rank-list {
    background: #f6f9fc
}

    .rank-list .single-news {
        margin: 0
    }

    .rank-list .single-news {
        margin-bottom: 40px
    }

/*======================================
    rank Details CSS
========================================*/

.actionBtn ul {
    margin-top: 25px;
}

    .actionBtn ul li {
        display: inline-block;
        font-size: 12px;
        margin-bottom: 5px;
        margin-right: 3px;
        position: relative;
        background: var(--main-blue-color)14;
        color: var(--main-blue-color);
        padding: 5px 10px;
        border-radius: 3px;
    }

        .actionBtn ul li:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }

        .actionBtn ul li i {
            font-size: 13px;
            display: inline-block;
            margin-right: 3px;
        }

        .actionBtn ul li a {
            color: #777;
        }

            .actionBtn ul li a:hover {
                color: var(--main-blue-color);
            }

#file-upload {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 3px;
    position: relative;
    background: var(--main-blue-color)14;
    color: var(--main-blue-color);
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    margin-top: 5px;
}

.section-rank {
    padding-top: 50px;
    position: relative;
}

.rank-details {
    background-color: #f6f9fc;
}

    .rank-details .rank-details-inner {
        padding: 40px;
        border-radius: 6px;
        border: 1px solid #eee;
        background-color: #fff;
    }

    .rank-details .rank-details-head {
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EDEDED;
    }

        .rank-details .rank-details-head .content .meta {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
            color: #7E8890;
            display: block;
            margin-top: 10px;
        }

        .rank-details .rank-details-head .file-type .file-range {
            font-weight: 500;
            line-height: 1;
            display: block;
            margin-bottom: 8px;
            color: #7E8890;
        }

        .rank-details .rank-details-head .badge {
            display: inline-block;
            font-size: 12px;
            margin-bottom: 5px;
            margin-right: 3px;
            position: relative;
            background: var(--main-blue-color)14;
            color: var(--main-blue-color);
            padding: 8px 12px;
            border-radius: 3px;
            font-weight: 400;
            display: inline-block;
            margin-top: 5px;
        }

        .rank-details .rank-details-head li {
            display: inline-block;
            margin-right: 15px;
        }

            .rank-details .rank-details-head li i {
                color: var(--main-blue-color);
            }

            .rank-details .rank-details-head li:last-child {
                margin-right: 0;
            }

            .rank-details .rank-details-head li a {
                color: var(--main-blue-color);
                font-weight: 500;
            }

                .rank-details .rank-details-head li a:hover {
                    text-decoration: underline;
                }

    .rank-details .rank-details-body h6 {
        font-size: 20px;
    }

    .rank-details .rank-details-body p {
        margin: 20px 0;
    }

    .rank-details .rank-details-body ul {
        margin-left: 10px;
    }

        .rank-details .rank-details-body ul li {
            display: block;
            margin-bottom: 8px;
            position: relative;
            padding-left: 15px;
        }

            .rank-details .rank-details-body ul li::before {
                position: absolute;
                content: "";
                left: 0;
                top: 8px;
                height: 6px;
                width: 6px;
                display: block;
                border-radius: 50%;
                background-color: var(--main-blue-color);
            }

            .rank-details .rank-details-body ul li:last-child {
                margin-bottom: 0;
            }

    .rank-details .rank-details-sidebar .sidebar-widget {
        padding: 40px;
        border-radius: 6px;
        border: 1px solid #eee;
        background-color: #fff;
        margin-bottom: 30px;
    }

        .rank-details .rank-details-sidebar .sidebar-widget:last-child {
            margin-bottom: 0;
        }

        .rank-details .rank-details-sidebar .sidebar-widget .title {
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 1;
            position: relative;
            padding-left: 18px;
            font-weight: 600;
            line-height: 28px;
            text-transform: capitalize;
        }

            .rank-details .rank-details-sidebar .sidebar-widget .title::before {
                position: absolute;
                left: 0;
                top: 1px;
                height: 100%;
                width: 3px;
                background-color: var(--main-blue-color);
                content: '';
            }

        .rank-details .rank-details-sidebar .sidebar-widget .list-unstyled li {
            display: block;
            margin-bottom: 8px;
        }

            .rank-details .rank-details-sidebar .sidebar-widget .list-unstyled li strong {
                color: var(--dark-blue-color);
                font-weight: 600;
                display: inline-block;
                margin-right: 2px;
            }

            .rank-details .rank-details-sidebar .sidebar-widget .list-unstyled li:last-child {
                margin-bottom: 0;
            }

    .rank-details .rank-items {
        padding: 30px;
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 6px;
    }

        .rank-details .rank-items .manage-list {
            padding: 15px 0;
            padding-top: 0;
            border-bottom: 1px solid #f1f1f1;
            text-transform: capitalize;
        }

            .rank-details .rank-items .manage-list p {
                text-align: center;
            }

        .rank-details .rank-items .manage-content {
            padding: 25px 0;
            border-bottom: 1px solid #f1f1f1;
        }

            .rank-details .rank-items .manage-content:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            .rank-details .rank-items .manage-content .time {
                background: var(--main-blue-color)14;
                color: var(--main-blue-color);
                padding: 5px 14px;
                border-radius: 3px;
                font-size: 13px;
            }

            .rank-details .rank-items .manage-content .can-img img {
                width: 50px;
                margin: 5px 15px;
                border-radius: 50%;
            }

            .rank-details .rank-items .manage-content h3 {
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }

            .rank-details .rank-items .manage-content .location {
                font-size: 14px;
                display: block;
                margin-top: 5px;
            }

                .rank-details .rank-items .manage-content .location i {
                    display: inline-block;
                    margin-right: 3px;
                    color: var(--main-blue-color);
                }


/*======================================
    Find rank CSS
========================================*/
.find-rank {
    background-color: #f6f9fc;
}

    .find-rank .section-title {
        margin-bottom: 50px;
    }

    .find-rank.rank-list {
        padding-top: 70px;
    }

    .find-rank .single-rank {
        margin-top: 30px;
        padding: 40px;
        /*padding-left: 120px;*//*for image*/
        border: 1px solid #eee;
        border-radius: 5px;
        position: relative;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        background-color: #fff;
    }

        .find-rank .single-rank:hover {
            -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
            box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
        }

        .find-rank .single-rank .rank-image {
            position: absolute;
            left: 40px;
            top: 50%;
            height: 50px;
            width: 50px;
            line-height: 50px;
            margin-top: -25px;
        }

        .find-rank .single-rank .rank-content {
            position: relative;
        }

            .find-rank .single-rank .rank-content h4 {
                padding-right: 200px;
                position: relative;
                padding-bottom: 20px;
            }

                .find-rank .single-rank .rank-content h4 a {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--dark-blue-color);
                }

                    .find-rank .single-rank .rank-content h4 a:hover {
                        color: var(--main-blue-color);
                    }

            .find-rank .single-rank .rank-content p {
                display: inline-block;
                border-top: 1px solid #eee;
                padding-top: 18px;
            }

            .find-rank .single-rank .rank-content ul {
                margin-top: 20px;
            }

                .find-rank .single-rank .rank-content ul li {
                    display: inline-block;
                    font-size: 12px;
                    margin-bottom: 5px;
                    margin-right: 3px;
                    position: relative;
                    background: var(--main-blue-color)14;
                    color: var(--main-blue-color);
                    padding: 5px 10px;
                    border-radius: 3px;
                }

                    .find-rank .single-rank .rank-content ul li:last-child {
                        margin-bottom: 0;
                        margin-right: 0;
                    }

                    .find-rank .single-rank .rank-content ul li i {
                        font-size: 13px;
                        display: inline-block;
                        margin-right: 3px;
                    }

                    .find-rank .single-rank .rank-content ul li a {
                        color: #777;
                    }

                        .find-rank .single-rank .rank-content ul li a:hover {
                            color: var(--main-blue-color);
                        }

        .find-rank .single-rank .rank-button {
            position: absolute;
            right: 40px;
            top: 40px;
        }

            .find-rank .single-rank .rank-button ul li {
                display: inline-block;
            }

                .find-rank .single-rank .rank-button ul li a {
                    padding: 5px 20px;
                    border: 1px solid #eee;
                    color: var(--dark-blue-color);
                    border-radius: 4px;
                    font-size: 13px;
                    text-transform: capitalize;
                }

                    .find-rank .single-rank .rank-button ul li a:hover {
                        color: #fff;
                        background-color: var(--main-blue-color);
                        border-color: transparent;
                    }

                .find-rank .single-rank .rank-button ul li span {
                    padding: 5px 20px;
                    background-color: var(--main-blue-color);
                    color: #fff;
                    border-radius: 4px;
                    font-size: 13px;
                    text-transform: capitalize;
                }

    .find-rank .search-rank .search-nner {
        padding: 30px;
        border: 1px solid #eee;
        background-color: #fff;
        border-radius: 6px;
    }

        .find-rank .search-rank .search-nner input {
            height: 50px;
            width: 100%;
            border: 1px solid #eee;
            border-radius: 4px;
            font-size: 14px;
            color: var(--dark-blue-color);
            padding: 0px 20px;
        }

        .find-rank .search-rank .search-nner .btn {
            width: 100%;
        }

        /*.find-rank .search-rank .search-nner .form-group {
            display: block;
            margin-bottom: 20px;
        }*/
            .find-rank .search-rank .search-nner  .select {
                width: 100%;
                height: 50px;
                border-radius: 0;
                border: 1px solid #ebebeb;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 400;
            }

                .find-rank .search-rank .search-nner  .select option {
                    color: var(--dark-blue-color);
                    padding: 10px 10px;
                    font-weight: 400;
                }



/*======================================
    Rank Post CSS
========================================*/

#xs-cat {
    display: none;
}

#optionN, #optionW {
    display: none;
}

.rank-post {
    background-color: #f6f9fc;
}

    .rank-post .rank-information {
        padding: 40px;
        border: 1px solid #eee;
        border-radius: 6px;
        background-color: #fff;
    }

        .rank-post .rank-information .form-group {
            display: block;
            margin-bottom: 20px;
        }

            .rank-post .rank-information .form-group input {
                height: 50px;
                width: 100%;
                border: 1px solid #eee;
                border-radius: 5px;
                padding: 0px 20px;
                font-size: 14px;
            }

            .rank-post .rank-information .form-group textarea {
                height: 200px;
                border: 1px solid #eee;
                border-radius: 5px;
                padding: 20px;
                font-size: 14px;
            }

            .rank-post .rank-information .form-group .checkboxs {
                width: auto !important;
                display: inline-block !important;
            }

            .rank-post .rank-information .form-group .select {
                width: 100%;
                height: 50px;
                border-radius: 0;
                border: 1px solid #ebebeb;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 400;
            }

                .rank-post .rank-information .form-group .select option {
                    color: var(--dark-blue-color);
                    padding: 10px 10px;
                    font-weight: 400;
                }

            .rank-post .rank-information .form-group label {
                font-size: 14px;
                color: var(--dark-blue-color);
                display: block;
                margin-bottom: 5px;
            }

            .rank-post .rank-information .form-group.checkboxs {
                position: relative;
                padding-left: 25px;
                color: var(--dark-blue-color);
            }

                .rank-post .rank-information .form-group.checkboxs #chb2 {
                    position: absolute;
                    top: -13px;
                    left: 0;
                }

        .rank-post .rank-information .choose-img {
            margin-bottom: 30px;
        }

            .rank-post .rank-information .choose-img p {
                margin: 10px 0;
                display: block;
                color: var(--dark-blue-color);
            }

            .rank-post .rank-information .choose-img label {
                display: block;
                margin-bottom: 10px;
                color: var(--dark-blue-color);
            }

    .rank-post .title {
        font-size: 22px;
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
    }



input[type="file"] {
    cursor: pointer;
}

.file-btn {
    position: relative;
}

    .file-btn input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }


/*======================================
    Sport Type CSS
========================================*/


.pdf_editors {
    margin-top: 20px;
}

    .pdf_editors li {
        display: inline-block;
        margin-right: 8px;
    }

        .pdf_editors li a {
            font-size: 15px;
            color: var(--dark-blue-color);
            padding: 10px;
            text-align: center;
            display: block !important;
            line-height: 30px;
            background: #E8ECF1;
            border: none;
            border-radius: 4px;
            position: relative;
            z-index: 3;
        }

            .pdf_editors li a:hover {
                color: #fff;
                background-color: var(--main-blue-color);
            }

input[type="file"] {
    cursor: pointer;
}

.file-btn {
    position: relative;
}

    .file-btn input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }


/*======================================
    Sport Type Index CSS
========================================*/

.sport-single {
    background: #f6f9fc
}

    .sport-single .single-inner {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #eee;
        border-radius: 6px
    }

.type-details .detail-inner {
    background-color: #fff;
    padding: 0;
    margin-top: 40px
}

.type-details .type-thumbnils {
    margin-bottom: 30px
}

.type-details .type-title {
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 32px
}

    .type-details .type-title a {
        font-size: 25px;
        font-weight: 600
    }

        .type-details .type-title a:hover {
            color: var(--main-blue-color)
        }

ul.custom-flex {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.type-details .type-meta li {
    font-weight: 500;
    font-size: 15px;
    margin-right: 25px
}

    .type-details .type-meta li a i {
        font-weight: 400;
        margin-right: 3px
    }

    .type-details .type-meta li a:hover {
        color: var(--main-blue-color)
    }

.type-details p {
    font-size: 15px;
    margin: 30px 0
}

.type-details h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 28px
}

.type-details p:last-child {
    margin-bottom: 0
}

.popular-tag-widget .tag-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px
}

.type-tags-media .share-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px
}

.type-details .type-tags-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.type-details > p {
    font-size: 14px
}

.type-details > ul > li {
    font-weight: 500
}

.type-details .type-tags-media .type-tags .tags a {
    color: #333;
    background: 0 0
}

    .type-details .type-tags-media .type-tags .tags a:hover {
        color: #fff;
        background-color: var(--main-blue-color)
    }



.popular-tag-widget .tags > a {
    /*display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    background: var(--main-blue-color);
    margin-right: 7px;
    margin-bottom: 10px;
    color: #fff;
    background: transparent;
    color: #888;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
}

    .popular-tag-widget .tags > a:hover {
        background-color: var(--main-blue-color);
        color: #fff;
        border-color: transparent;
    }



/*======================================
    Add Participant CSS
========================================*/

.add-part {
    background-color: #f6f9fc;
}

    .add-part .add-part-inner {
        padding: 40px;
        border: 1px solid #eee;
        border-radius: 6px;
        background-color: #fff;
    }

        .add-part .add-part-inner .single-section-title {
            font-size: 20px;
            font-weight: 700;
            color: var(--dark-blue-color);
            display: block;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .add-part .add-part-inner .add-post-btn a {
            font-size: 13px;
            position: relative;
            background: var(--main-blue-color)14;
            color: var(--dark-blue-color);
            padding: 10px 15px;
            border-radius: 3px;
        }

            .add-part .add-part-inner .add-post-btn a:hover {
                color: #fff;
                background-color: var(--main-blue-color);
            }

            .add-part .add-part-inner .add-post-btn a i {
                display: inline-block;
                margin-right: 4px;
            }

        .add-part .add-part-inner .post-header {
            margin-bottom: 30px;
            overflow: hidden;
        }

            .add-part .add-part-inner .post-header h3 {
                font-size: 20px;
                font-weight: 700;
                color: var(--dark-blue-color);
                float: left;
            }

            .add-part .add-part-inner .post-header p {
                float: right;
                position: relative;
                top: 2px;
            }

                .add-part .add-part-inner .post-header p a {
                    color: var(--main-blue-color);
                }

                    .add-part .add-part-inner .post-header p a:hover {
                        text-decoration: underline;
                    }

        .add-part .add-part-inner .form-ad .form-group {
            margin-bottom: 15px;
        }

            .add-part .add-part-inner .form-ad .form-group label {
                font-size: 14px;
                display: block;
                margin-bottom: 5px;
                color: var(--dark-blue-color);
            }

            .add-part .add-part-inner .form-ad .form-group .select {
                width: 100%;
                height: 50px;
                border-radius: 0;
                border: 1px solid #ebebeb;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 400;
            }

                .add-part .add-part-inner .form-ad .form-group .select option {
                    color: var(--dark-blue-color);
                    padding: 10px 10px;
                    font-weight: 400;
                }

            .add-part .add-part-inner .form-ad .form-group input {
                height: 50px;
                width: 100%;
                padding: 0px 20px;
                border: 1px solid #eee;
                border-radius: 4px;
                font-size: 14px;
            }

            .add-part .add-part-inner .form-ad .form-group textarea {
                height: 100px;
                width: 100%;
                padding: 20px;
                border: 1px solid #eee;
                border-radius: 4px;
                font-size: 14px;
            }

            .add-part .add-part-inner .form-ad .form-group .action-buttons {
                position: relative;
            }

            .add-part .add-part-inner .form-ad .form-group .upload-button input[type=file] {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                cursor: pointer;
                padding: 0;
            }


/*======================================
    Manage blog CSS
========================================*/

.delete-rank {
    background-color: #f6f9fc;
}

    .delete-rank .rank-items {
        padding: 30px;
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 6px;
    }

        .delete-rank .rank-items .manage-list {
            padding: 15px 0;
            padding-top: 0;
            border-bottom: 1px solid #f1f1f1;
            text-transform: capitalize;
        }

        .delete-rank .rank-items .manage-content {
            padding: 25px 0;
            border-bottom: 1px solid #f1f1f1;
        }

            .delete-rank .rank-items .manage-content:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            .delete-rank .rank-items .manage-content p i {
                font-size: 14px;
                text-align: center;
            }

            .delete-rank .rank-items .manage-content h2 {
                font-size: 18px;
                font-weight: 500;
                text-align: center;
            }

            .delete-rank .rank-items .manage-content h3 {
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }

            .delete-rank .rank-items .manage-content h4 {
                font-size: 15px;
                font-weight: 300;
                text-align: center;
            }
